{% extends "base.html.twig" %}
{% block title %}Accueil
{% endblock %}


{% block body %}
	<h1>{{ clac }}</h1>
	{# <img src="{{ asset('build/chwal.jpg') }}" alt="chwal"/> #}
	<div>
		<a href="{{ path('program_index') }}">
			Feuilletage des séries
		</a><br>
	</div>
	<div>
		<a href="{{ path('category_index') }}">
			Les genres disponible
		</a>
	</div>
	<div>
		<a href="{{ path('app_season_index')}}">Liste de toute les saisons</a>
	</div>
	<div>
		<a href="{{ path('app_episode_index')}}">
			Liste de tout les épisodes
		</a>
	</div>

{% endblock %}
